.App {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.caption-animation .item.active .camp-caption{

  -webkit-animation-name: caption;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: caption;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes caption{
  0%{
    opacity: 0.0;
  }
  100%{
    opacity: 1.0;
    
  }
}

.vid{
  background-color: #F2F2F2;
  padding-top: 50px;
  padding-bottom: 100px;
}

.par{
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.join{
  background-color:#1EBEA5; 
  padding-bottom: 100px;
  padding-top: 50px;  
}

 .location, .staff, .facilities,.galery, .map, .vid{
  
  background-color: #81D4FA; 
  padding-bottom: 100px;
  padding-top: 50px;  
}

.kontak, .program, .apakata, .whyme, .biaya{

  padding-top: 50px;
  padding-bottom: 100px;  
  
}
.kontak, .program{
  height: 700px;
}


.fas-logo{
  font-size: 35px;
}
.listkegiatan{
  margin-top: 50px;
}
.keg{
  height: 230px;
  text-align: center;
}
.coret{
  text-decoration: line-through;
}

.img-staff{
  height: 300px;
  width: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Responsive CSS */

@media only screen and (min-width:1280px) { 
  .btn-chat{
    background-color: #61CE70;
    width: 300px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
  }

  .btn-program{
    width: 300px;
  }



  .camp-caption{  
    font-size: 28px;
    opacity: 0;
    top: 20%;
    bottom: auto;
    font-weight: 900;
    
    
    
  }
  

 }

 @media only screen and (min-width:360px) { 
  .btn-chat{
    background-color: #00A859;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    
  }

  .home{
    margin-bottom: 200px;
  }

 }

body{
  position: relative;
  /* background-color: #F2F2F2; */
  background-color:#E0F2F1;
  
}

.panel-lokasi{
  height: 250px;
}
.panel-harga{
  height: 200px;
  padding-top: 50px;
}

/* Testimonial */
.col-testi{

height: 500px;
/* margin-top: 20px;
margin-bottom: 20px;  */

/* border-style: solid; */
/* border-width: 5px;  */
}


.comment-testi{
  font-size: 12px;
  margin-top: 20px;
  width: 330px;
  text-align: justify;

}
.img-testi{
  padding-top: 50px;
height: 250px;
width: auto;
}

/* Alumni */
.img-alumni{
  height: 200px;
  width: auto;
}
.col-alumni{
  /* border-style: solid;
  border-width: 2px; */

  height: 350px;
  padding-top: 30px;
  padding-bottom:30px;
}

.logo-xs{
  padding-top: 30px;
  padding-bottom: 30px;
}